<div class="container onboarding">
  <div class="section">
    <h4 class="white-text center-align">Welcome to your reading journey</h4>
    <p class="grey-text text-lighten-3 center-align">Complete the quick steps below to activate your trial and personalise your library.</p>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">1. Pick a plan</span>
          <p>Choose a membership below to preview the premium shelves that unlock for you.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">2. Personalise</span>
          <p>Tell us what you enjoy so we can pre-fill your queue with featured collections.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{#each trialPlans}}
      <div class="col s12 m4">
        <div class="card grey darken-3">
          <div class="card-content white-text">
            <span class="card-title">{{name}}</span>
            <p class="trial-length">{{trialDays}} day trial</p>
            <p>{{description}}</p>
            {{#if benefits}}
              <ul class="plan-benefits">
                {{#each benefits}}
                  <li><i class="material-icons tiny">star</i> {{label}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
          <div class="card-action">
            <form class="membership-action" data-membership-action="start-trial" data-plan-id="{{id}}">
              <button class="btn waves-effect waves-light teal" type="submit">Begin Trial</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card blue-grey darken-3">
        <div class="card-content white-text">
          <span class="card-title">Need help migrating?</span>
          <p>Already a member elsewhere? Reach out and our concierge will import your reading history, favourites, and saved notes so your dashboard feels like home.</p>
        </div>
      </div>
    </div>
  </div>
</div>
